{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
<div class="banner" id="page">
    <div class="left-col">
        <h2>{SOFTWARE ENGINEER}</h2>
    </div>
    <div class="right-col">
        <img id="pic" src="{{ url_for('static', filename='images/vinta.jpeg') }}" alt="Picture of retro pc"/>
    </div>
  </div>
<div class="left">
    <h3 id="about">ABOUT_ME()</h3>
    <p>Hi, my name is Kudzayi, I am a self-taught software engineer and I love to code! I discovered my love for code during
        the 2020 COVID-19 pandemic when I began dabbling in python.
        After spending the bulk of my quarantine learning code through textbooks and online resources, I enrolled myself
        into a coding bootcamp and completed a course in software engineering! I primarily enjoy backend development in python and java, however, I can also build full web applications using Python's web framework Flask as well as html and css.
    </p>
    <br>
    <p>I would describe myself as a curious information seeker - I love innovative ideas, laughter and conversations
        with people. I am currently in the job market and open to opportunities - connect with me on
        <a href="https://www.linkedin.com/in/kudzayi-bamhare-3b6991b7/">LINKEDIN</a> or via email on: <p style="font-style: italic;">kudzayibamhare@gmail.com</p>
    </p>
    <p style="font-style: italic;">"Humans are creative beings and our creative potential is limitless, we should
        always feel limitless"</p>
</div>
  <div class="right-col">
      <img src="{{ url_for('static', filename='images/me.JPG') }}" alt="Picture of Kudzayi"/>
  </div>
{% endblock %}